body{
    background-color: aquamarine;

}
#form-reg{
    max-width: 300px;
    margin: 0 auto;
    border: solid 5px blueviolet;
    padding: 20px;
    border-radius: 20px;
}
.form-item{
    background-color: black;
    border: white solid 5px;
    color: blue;
    border-radius: 5px;
    padding: 5px;
}
.form-btn{
    background-color: chartreuse;
    border: 5px solid mediumblue;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
}
.form-btn:hover{
    border: 1px solid darkgreen;
    background-color: brown;
}
